body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
  --text-shadow: black 1px 1px 1px;
}

p {
  color: #fff;
  padding: 18px;
  font-size: 25px;
  --letter-spacing: 10px;
}

button {
	position: relative;
	top: -12px;
	height: 30px;
}

#bg {
  background-image: url("/static/images/books2.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  --background-color: #18241B;	    
}

#quote-box {
  position: absolute;
  left: 20%;
  top: 30%;
  width: 60%;
  text-align: center;
  color: #000;
}

#disappeared {
	display: none;
}

#new-quote {
    background:url("/static/images/new-quote-button.png") no-repeat;
    cursor: pointer;
    border: none;
    width: 160px;
    height: 30px;
}

#new-quote:active
{   
    background:url("/static/images/new-quote-button-active.png") no-repeat;
}

@media (min-width: 801px) {
}

@media (max-width: 800px) {
}

@media (min-width: 480px) {
}

@media (max-width: 479px) {
}

