{% load staticfiles %}
<!doctype html>
<html>
<head>
	<!--
	// Front End Libraries Projects
	//
	// Random Quote Machine
	//
	// Quotations are scraped from https://www.quotes.net
	// Background image of books is https://pxhere.com/en/photo/1453725 by Suzy Hazelwood
	// Twitter icon is from https://about.twitter.com/en_us/company/brand-resources.html
	-->
	<meta charset="utf-8">
	<title>Random Quote Machine</title>
	<!-- <base href="http://incblots.com/randomquote/html/" /> -->
  	<link rel="stylesheet" type="text/css" href="{% static 'styles/randomquote.css' %}" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script type="text/javascript">
		window.onload = function() {
		  do_sub();
		}	
	</script>
	<script type="text/javascript">
		var i = 1;	
		function do_sub() {
			var element;
			var temp_str;
			var quote_id_str = "quote_" + i;
			var author_id_str = "author_" + i;
			var webified_quote_id_str = "webified_quote_" + i;
			i++;
			
			if (i <= 10) 
			{
				element = document.getElementById(quote_id_str);
				$("#text").html(element.innerText);
				element = document.getElementById(author_id_str);
				$("#author").html(element.innerText);				
				element = document.getElementById(webified_quote_id_str);
				temp_str = 'https://twitter.com/intent/tweet?hashtags=quotes&related=freecodecamp&text=' + element.innerText
				$("a").attr("href", temp_str)
			}
			else
			{
				location.reload();
			}
		}
	</script>
</head>
<body>
	<div id="bg">
		<div id="quote-box"> <!-- horiz centered -->
			<!-- <img src="https://pxhere.com/en/photo/1453725"> -->
			<p id="text"></p>
			<p id="author"></p>
			 <form>
				<input type="button" id="new-quote" value="Next quote" onClick="do_sub()"> 
			</form>
			<a id="tweet-quote" href="https://twitter.com/intent/tweet?hashtags=quotes&related=freecodecamp&text=''"><img src="{% static 'images/twitter.png'%}" width="30px" height="30px"></a>	
		</div> <!-- quote-box -->

 	</div> <!-- bg (background image) -->
	<div id="disappeared">
		<p id="quote_1">{{TEXT1}}</p>
		<p id="quote_2">{{TEXT2}}</p>
		<p id="quote_3">{{TEXT3}}</p>
		<p id="quote_4">{{TEXT4}}</p>
		<p id="quote_5">{{TEXT5}}</p>
		<p id="quote_6">{{TEXT6}}</p>
		<p id="quote_7">{{TEXT7}}</p>
		<p id="quote_8">{{TEXT8}}</p>
		<p id="quote_9">{{TEXT9}}</p>
		<p id="quote_10">{{TEXT10}}</p>
		<p id="author_1">{{AUTHOR1}}</p>
		<p id="author_2">{{AUTHOR2}}</p>
		<p id="author_3">{{AUTHOR3}}</p>
		<p id="author_4">{{AUTHOR4}}</p>
		<p id="author_5">{{AUTHOR5}}</p>
		<p id="author_6">{{AUTHOR6}}</p>
		<p id="author_7">{{AUTHOR7}}</p>
		<p id="author_8">{{AUTHOR8}}</p>
		<p id="author_9">{{AUTHOR9}}</p>
		<p id="author_10">{{AUTHOR10}}</p>
		<p id="webified_quote_1">{{WEBIFIED_QUOTE1}}</p>
		<p id="webified_quote_2">{{WEBIFIED_QUOTE2}}</p>
		<p id="webified_quote_3">{{WEBIFIED_QUOTE3}}</p>
		<p id="webified_quote_4">{{WEBIFIED_QUOTE4}}</p>
		<p id="webified_quote_5">{{WEBIFIED_QUOTE5}}</p>
		<p id="webified_quote_6">{{WEBIFIED_QUOTE6}}</p>
		<p id="webified_quote_7">{{WEBIFIED_QUOTE7}}</p>
		<p id="webified_quote_8">{{WEBIFIED_QUOTE8}}</p>
		<p id="webified_quote_9">{{WEBIFIED_QUOTE9}}</p>
		<p id="webified_quote_10">{{WEBIFIED_QUOTE10}}</p>
	</div>
	<script src="https://cdn.freecodecamp.org/testable-projects-fcc/v1/bundle.js"></script>
</body>
